<div class="container pt-5 pb-4 fw-bold">
    <h3 class="fw-bold display-5"> Les photos actuellement en vente </h3>
  </div>


    <section class="container card-group pb-5">
    
      <% @items.each do |item| %> 
      
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">

            <div class="card m-3 bg-white text-dark" style="width: 18rem;">
              
              <%= image_tag item.image_url, alt: 'photo de chat', class: 'card-img-top' %>          
                
              <div class="card-body text-center">
                
                <p class="card-text ">Son nom: <%= item.title%></p>
                <p class="card-text ">Sa description: <%= item.description%></p>
                <br/>
                <%= link_to "Accéder à la page de la photo", item_path(item.id), class:"btn btn-warning" %>
              <% if user_signed_in? %>
                <%= link_to "Ajouter au panier", item_selections_path(item), class:"btn btn-info", method:"POST", remote: true %>
              <% else %>
                <%= link_to "Se connecter pour l'acheter", new_user_session_path %>
              <% end %>
                
                             
              </div>
            </div>
          </div>
        </div>
        
      <% end %>
    </section>
